@function color-to-rgb-tuple($color) {
  @return red($color), green($color), blue($color);
}

@mixin mobile {
  @media screen and (max-width: 500px) {
    @content;
  }
}

@font-face {
  font-family: 'JetBrainsMono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Regular.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Regular.woff') format('woff'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/ttf/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

:root {
  $accentColor: #3D5AFE;
  $accentColor2: #3949AB;
  $accentColor3: #283593;
  
  font-family: var(--font);
  background-color: var(--page-bg-color);
  --page-bg-color: #fafafa;
  --accent-color-rgb: #{color-to-rgb-tuple($accentColor)};
  --accent-color: #{$accentColor};
  --accent-color-2: #{$accentColor2};
  --accent-color-3: #{$accentColor3};
  --warning-color: #FF3D00;
  --font: Inter, sans-serif;
}

body {
  margin: 0;
}

.main {
  padding: 40px;
  height: 100vh;
  height: calc(var(--vh) * 100);
  box-sizing: border-box;
  gap: 20px;
  display: grid;
  grid-template:
      'output' 1fr
      'dropzone' auto / 1fr;
  flex-direction: column;
  --file-drop-color: var(--accent-color);

  @include mobile {
    padding: 20px;
  }

  &::after {
    font-size: 24px;
    line-height: 32px;
    font-weight: 700;
  }

  &.is-image {
    grid-template:
        'output preview' 1fr
        'dropzone dropzone' auto / 1fr auto;

    @include mobile {
      grid-template:
          'output' 1fr
          'preview' auto
          'dropzone' auto / 1fr;
    }
  }

  &.is-zero {
    grid-template: 'dropzone' 1fr / 1fr;
  }
}

a {
  color: var(--accent-color);
}

.dropzone,
.output,
.preview-image {
  border-radius: 8px;
}

.dropzone {
  grid-area: dropzone;
  position: relative;
  width: auto;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 28px;
  border: 2px solid currentColor;
  color: var(--accent-color);

  @include mobile {
    padding: 16px;
  }

  &[disabled] {
    opacity: .5;
    pointer-events: none;
  }

  h1 {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }

  code {
    font-family: JetBrainsMono, monospace;
    background-color: rgba(var(--accent-color-rgb), .15);
    border-radius: 2px;
    padding: 0 2px;
  }

  p {
    font-size: 14px;
    line-height: 20px;
  }

  &:focus-within {
    color: var(--accent-color-3);
    background-color: rgba(var(--accent-color-rgb), .05);
  }
}

.main.is-zero .dropzone {
  grid-area: dropzone;
  height: 100%;
  box-sizing: border-box;

  .copy {
    max-width: 320px;
  }

  svg {
    width: 48px;
    height: 48px;
    stroke-width: 1px;
    margin: 0 auto 8px auto;
    display: block;
  }

  h1 {
    font-size: 24px;
    line-height: 32px;
  }
}

.main:not(.is-zero) .dropzone {
  display: flex;
  flex-direction: row;
  align-items: center;

  svg {
    margin-right: 8px;
  }
}

.dropzone input[type="file"] {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  opacity: 0;
  cursor: pointer;
}

.output {
  grid-area: output;
  padding: 40px;
  box-sizing: border-box;
  background-color: #fff;
  box-shadow: 0 0 0 1px rgba(#000, .12);
  margin: 0;
  overflow-y: auto;
  display: flex;

  @include mobile {
    padding: 16px;
  }
}

.output-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0 0 16px 0;

  h2 {
    margin: 0;
    font-weight: 500;
    color: var(--accent-color);
    font-size: 14px;
    line-height: 20px;
    flex: 1;

    &.warning {
      color: var(--warning-color);
    }
  }

  .btn {
    margin-left: 8px;
  }
}

.btn {
  --color: var(--accent-color);
  appearance: none;
  font-family: var(--font);
  font-size: 14px;
  line-height: 20px;
  padding: 8px 16px;
  border-radius: 6px;
  background-color: var(--color);
  border: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  color: #fff;
  font-weight: 500;
  position: relative;
  outline: 0;

  &:not([disabled]) {
    cursor: pointer;

    &:hover,
    &:focus {
      --color: var(--accent-color-2);
    }
  
    &:active {
      --color: var(--accent-color-3);
    }
  
    &:focus {
      box-shadow:
          0 0 0 2px var(--color) inset,
          0 0 0 4px rgba(#fff, .5) inset;
    }  
  }

  &.is-confirming {
    background-color: transparent;
    color: var(--accent-color);
    box-shadow: 0 0 0 2px rgba(var(--accent-color-rgb), .2) inset;

    .btn-content {
      visibility: hidden;
    }
  }

  .btn-start-icon {
    margin: 0 8px 0 -2px;
  }

  .btn-confirming-icon {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  .btn-content {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

.output-main {
  margin: auto;
  display: flex;
  flex-direction: column;
  min-width: 0;
}

.output-data-url {
  word-wrap: break-word;
  white-space: normal;
  min-width: 0;
  font-family: JetBrainsMono, monospace;
  font-size: 16px;
  line-height: 20px;
}

.preview-image {
  grid-area: preview;
  box-shadow: 0 0 0 1px rgba(#000, .12);
  align-self: stretch;
  justify-self: stretch;
  min-width: 200px;
  min-height: 120px;
  position: relative;

  img {
    max-width: 100%;
    max-height:100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 0 1px #888;
  }
}
